
<h1>{{title()}}</h1>
<h3>Welcome to the Dating App</h3>
<h1 class="text-3xl font-bold underline text-red-500">
  Hello world!
</h1>
<div  class="container">
  <ul>
   @for (member of members(); track member.id) {
     <li><pre>{{ member.id }}           {{ member.displayName }}         {{ member.displayEmail }} </pre></li>
   }
  </ul>
</div>



<div class="card bg-base-100 w-96  mx-auto shadow-2xl">
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Card Title</h2>
    <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="card bg-base-100 w-1/2 mx-auto p-10 mt-10 shadow-xl">
    <h3 class="text-3xl text-red-500">{{title}}</h3>
    <ul class="list">
        @for (member of members(); track member.id) {
        <li class="list-row items-center">
            <img src="/user.png" alt="user avatar" class="size-5 rounded-box">
            <div>
                User Name: {{member.displayName}}
                <br />
                <span class="text-sm text-gray-500">Email: {{member.displayEmail}}</span>
                <br />  
                <span class="text-sm text-gray-500">Id: {{member.id}}</span>
            </div>
        </li>
        }
    </ul>
</div>